.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
}

.signup-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

Link {
    display: block;
    text-align: center;
}