.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

Link {
    display: block;
    text-align: center;
}